@charset "UTF-8";
/* CSS Document */

body{
  background-color:#ffffff;
}

.containter{
  width:1160px;
  margin:0 auto;
  background-color:#ffffff;
  padding:10px 20px;
  }


.logo{
 width:636px;
 height:200px;
 background-image:url('../img/logo.gif');
 margin:0 auto;
}

hr{
  clear:left;
}

hr{
  clear:left;
}

#globalnavi{  
  margin: 0;  
  padding: 0;  
  width: 1160px;
}  
  
#globalnavi ul{  
  list-style-type: none;  
  margin: 0;  
  padding: 0;  
}  
  
#globalnavi li{  
  float: left;  
  width: 230px;  
  margin: 0;  
  padding: 0;  
}  
  
#globalnavi a{  
  text-align: center;  
  display:block;  
  padding: 0.5em 0;  
  width:100%;  
  background: url(画像のパス) no-repeat 0 50%;  
  color:#000000;  
}  
  
#globalnavi a:hover{  
  background: url(画像のパス) no-repeat -100px 50%;  
  color: #ffffff;  
}  



.first{
  width:800px;
  height:400px;
  /*
  background-image:url('../img/wordcloud.jpg');
  */
  margin-left: 200px;
}

.agenda{
  width:800px;
  height:400px;
  /*
  background-image:url('../img/wordcloud.jpg');
  */
  margin-left: 200px;
}

.people_info{
  width:800px;
  height:400px;
  /*
  background-image:url('../img/wordcloud.jpg');
  */
  margin-left: 200px;
}
}

